alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
attrs==23.1.0
Babel @ file:///Users/ec2-user/ci_py311/babel_1678318085010/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1680888073205/work
brotlipy==0.7.0
cattrs==23.1.2
certifi==2023.7.22
cffi @ file:///Users/ec2-user/ci_py311/cffi_1678315312775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
colorama @ file:///Users/ec2-user/ci_py311/colorama_1678320227414/work
cryptography @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_19sc_35nzq/croot/cryptography_1694211574676/work
docutils @ file:///Users/ec2-user/ci_py311/docutils_1678316143314/work
esbonio==0.16.2
furo @ file:///home/conda/feedstock_root/build_artifacts/furo_1685026575914/work
idna @ file:///Users/ec2-user/ci_py311/idna_1678315819133/work
imagesize @ file:///Users/ec2-user/ci_py311/imagesize_1678377399148/work
Jinja2 @ file:///Users/ec2-user/ci_py311/jinja2_1678317138271/work
lsprotocol==2023.0.0b1
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1677100944732/work
MarkupSafe @ file:///Users/ec2-user/ci_py311/markupsafe_1678316973889/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1686175351422/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
myst-parser @ file:///home/conda/feedstock_root/build_artifacts/myst-parser_1664303069489/work
packaging @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_2algm5p9lp/croot/packaging_1693575178038/work
platformdirs==3.11.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pygls==1.1.1
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1691408637400/work
pyOpenSSL @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_7fwdg30481/croot/pyopenssl_1690223429070/work
PySocks @ file:///Users/ec2-user/ci_py311/pysocks_1678315868424/work
pyspellchecker==0.7.2
pytz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_e0y2h1cdsw/croot/pytz_1695131602326/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373551341/work
requests @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_fa2zrx4csg/croot/requests_1690400223595/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
Sphinx @ file:///Users/ec2-user/ci_py311/sphinx_1678389735529/work
sphinx-basic-ng @ file:///home/conda/feedstock_root/build_artifacts/sphinx-basic-ng_1690474916004/work
sphinx-tabs @ file:///home/conda/feedstock_root/build_artifacts/sphinx-tabs_1675342460763/work
sphinx_inline_tabs @ file:///home/conda/feedstock_root/build_artifacts/sphinx-inline-tabs_1682112621951/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-matlabdomain @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-matlabdomain_1694872662140/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
typeguard==3.0.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
urllib3 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1968zekhce/croot/urllib3_1686163172153/work
