alabaster==0.7.13
attrs==23.1.0
Babel==2.13.0
beautifulsoup4==4.12.2
Brotli==1.1.0
cattrs==23.1.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.0
colorama==0.4.6
contourpy==1.1.1
cryptography==41.0.7
cycler==0.12.1
docutils==0.20.1
esbonio==0.16.2
fonttools==4.43.1
furo==2024.1.29
idna==3.4
imagesize==1.4.1
importlib-metadata==7.0.1
Jinja2==3.1.2
kiwisolver==1.4.5
latexcodec==2.0.1
livereload==2.6.3
lsprotocol==2023.0.0b1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
mdit-py-plugins==0.4.0
mdurl==0.1.0
munkres==1.1.4
myst-parser==2.0.0
numpy==1.26.3
packaging==23.2
Pillow==10.1.0
pip==23.3.1
platformdirs==3.11.0
pybtex==0.24.0
pybtex-docutils==1.0.3
pycparser==2.21
pygls==1.1.1
Pygments==2.16.1
pyOpenSSL==23.2.0
pyparsing==3.0.9
PySocks==1.7.1
pyspellchecker==0.7.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
setuptools==68.2.2
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-autobuild==2021.3.14
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.2
sphinx_design==0.5.0
sphinx-favicon==1.0.1
sphinx-prompt==1.4.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-bibtex==2.6.2
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-matlabdomain==0.21.4
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
sphinxext-opengraph==0.9.1
tornado==6.3.3
typeguard==3.0.2
urllib3==1.26.18
wheel==0.41.2
zipp==3.17.0
